* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "WaltographRegular";
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(./images/background.jpg);
  background-position: top;
}

/* rock paper scissors */
h1 {
  padding-top: 40px;
  height: 10vh;

  font-size: 80px;
  color: #ead8ca;
  text-shadow: 3px 2px 2px black;
}

/* player one and computer text */
h2 {
  color: #ad2330;
  padding-bottom: 70px;
  text-shadow: 3px 2px 2px #ead8ca;
  font-size: 50px;
  text-align: center;
}

/* shows score */
.result-box {
  text-align: center;
  font-size: 40px;
}

/* type in rock paper or scissors */
label {
  color: #ad2330;
  font-size: 70px;
  text-shadow: 3px 2px 2px #ead8ca;
}

input {
  height: 40px;
  width: 200px;
  font-size: 40px;
}

button {
  height: 40px;
  width: 120px;
  font-size: 35px;
}

footer {
  width: 1100px;
  padding-top: 2em;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.grid-container {
  margin-top: 3em;
  padding-top: 2em;
  width: 1100px;
  height: 58vh;
  background-color: rgba(255, 255, 255, 0.505);
  border: 10px solid #edbd0e;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 2fr 0.5fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "rps-header rps-header ."
    "letf-hand-box result comp-hand-box"
    ". input-box ."
    ". button-box .";
}
.rps-header {
  grid-area: rps-header;
}
.letf-hand-box {
  grid-area: letf-hand-box;
}
.comp-hand-box {
  grid-area: comp-hand-box;
}
.input-box {
  grid-area: input-box;
}
.button-box {
  grid-area: button-box;
}

.result-box {
  grid-area: result;
}
